
<div class="grid-x grid-padding-x card">



    <div class="question-container">

        {{!-- questions go here --}}

    </div>


    <button class="choices medium-6 cell btn">

        {{!-- first choice --}}

    </button>

    <button class="choices medium-6 cell btn">

        {{!-- second choice --}}

    </button>


    <div class="consequence card">

        {{!-- next event, which results from user's above choice, goes here --}}

    </div>

</div>


