<div class="container">
    <div id="text">Text</div>
    <div id="option-buttons" class="btn-grid">
        <button class="btn">Option 1</button>
        <button class="btn">Option 2</button>
    </div>
</div>


