
<div style=background-image: {{ current-mood }};>



    <div class="question">

        {{!-- questions go here --}}

    </div>


    <div class="choices">

        {{!-- list of possible responses for user to choose from goes here --}}

    </div>


    <div class="consequence">

        {{!-- next event, which results from user's above choice, goes here --}}

    </div>

</div>