<div>

    {{!-- questions go here --}}

</div>


<div>

    {{!-- list of possible responses for user to choose from goes here --}}

</div>


<div>

    {{!-- next event, which results from user's above choice, goes here --}}

</div>