
<div style=background-image: {{ current-mood }};>



    <div class="question-container card align-center">

        {{!-- questions go here --}}

    </div>


    <button class="choices">

        {{!-- first choice --}}

    </button>

    <button class-"choices">

        {{!-- second choice --}}

    </button>


    <div class="consequence">

        {{!-- next event, which results from user's above choice, goes here --}}

    </div>

</div>
<div class="container">
    <div id="text">Text</div>
    <div id="option-buttons" class="btn-grid">
        <button class="btn">Option 1</button>
        <button class="btn">Option 2</button>
    </div>
</div>


