
<div style=background-image: {{ current-mood }};>



    <div class="question">

        {{!-- questions go here --}}

    </div>


    <button class="choices">

        {{!-- first choice --}}

    </button>

    <button class-"choices">

        {{!-- second choice --}}

    </button>


    <div class="consequence">

        {{!-- next event, which results from user's above choice, goes here --}}

    </div>

</div>