<button id="logout" class="btn-no-style">logout</button>

<h2>Create your Character!</h2>


<form id="character-form" class="create-char-form grid-x align-center">
    <div class="cell">
        <label for="name">Name your character!</label><br>
        <input type="text" id="name" name="charName"><br><br>
    </div>
    <div class="cell">
    <label for="char-type">Choose your character:</label>

    <select id="char-type" name="char-type">
        <option value="Hobbit">Hobbit</option>
        <option value="Human">Human</option>
        <option value="Wizard">Wizard</option>
        <option value="Elf">Elf</option>
        <option value="Dwarf">Dwarf</option>
    </select>

    </div>
    <div class="cell">
    <button type="submit" class="btn">

        Create Character
    </button>
    </div>
</form>




<script src="/javascript/create-character.js"></script>
<script src="/javascript/logout.js"></script>