<button id="logout" class="btn">logout</button>

<img src='/assets/graphics/charactercreator.png' alt='Character creator'>

<div class='card rounded character-form-card'>
    <form id="character-form" class="create-char-form align-center">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                    <label class="font fs-5" for="name">Name your character!</label><br>
                    <input class="input-field" type="text" id="name" name="charName"><br><br>
                </div>
                <div class="medium-6 cell">
                    <label class="font fs-5" for="char-type">Choose your character:</label>

                    <select id="char-type" name="char-type">
                        <option value="Hobbit">Hobbit</option>
                        <option value="Human">Human</option>
                        <option value="Wizard">Wizard</option>
                        <option value="Elf">Elf</option>
                        <option value="Dwarf">Dwarf</option>
                    </select>
                </div>
                <div class="cell">
                    <button id="create-char-button" type="submit" class="btn">
                        Create Character
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>



<script src="/javascript/create-character.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"
    integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascript/char-music.js"></script>
<script src="/javascript/logout.js"></script>