<h2>Create your Character!</h2>



<form class="create-char-form">
    <label for="name">Name your character!</label><br>
    <input type="text" id="name" name="charName"><br><br>

    <label for="char-type">Choose your character:</label>

    <select id="char-type" name="char-type">
        <option value="Hobbit">Hobbit</option>
        <option value="Human">Human</option>
        <option value="Wizard">Wizard</option>
        <option value="Elf">Elf</option>
        <option value="Dwarf">Dwarf</option>
    </select>

    <button type="submit" class="btn">
        Create Character
    </button>
</form>

<button id="logout" class="btn-no-style">logout</button>



<script src="/javascript/create-character.js"></script>
<script src="/javascript/logout.js"></script>