This is the game page!!!

<button id="logout" class="btn-no-style">logout</button>
<div id="scoreDisplay">

</div>
<div class="container">
    <div id="question-text">Question:</div>
    <div class="btn-grid" id="options">Options:
        <button class="btn-no-style">Option 1</button>
        <button class="btn-no-style">Option 2</button>
    </div>

</div>

<script src="/javascript/game.js"></script>
<script src="/javascript/logout.js"></script>