This is the game page!!!

<button id="logout" class="btn-no-style">logout</button>
{{!--


<div>
    {{ background }}
    {{ currentProgress }}
    {{ promptAndActionWindow }}
</div>

--}}

<script src="/javascript/game.js"></script>
<script src="/javascript/logout.js"></script>