<div class="container">

    <img src='/assets/graphics/startadventure.png' alt='Game page'>
    <button id="logout" class="btn">logout</button>
</div>
<div class="container">
    <div class="card opacity-75">

        <figure class="text-center">
            <blockquote class="blockquote">
                <h3 class="font">"There’s some good in this world, <b
                        class="fs-2 fst-italic text-decoration-underline">{{character.char_name}}</b>.
                    . .and it’s
                    worth fighting
                    for."
                </h3>
            </blockquote>
            <figcaption class="blockquote-footer fs-3">
                Sam Gangee <cite title="Source Title fs-3">LOTR - The Two Towers</cite>
            </figcaption>
        </figure>
    </div>
    <div class="card opacity-75">

        <div id="score-display" class="card-body fs-3 ">Your score: 20</div>
    </div>

</div>



<div class="container">
    <div class="card opacity-75">

        <div id="question-text" class="fw-bold">Question:</div>
    </div>
    <div class="btn-grid" id="options">Options:
        <button class="btn">Option 1</button>
        <button class="btn">Option 2</button>
    </div>

</div>

<div class="container">

    <!-- Music Controls -->
    <div class="card opacity-50 rounded-pill sticky-top" style="width: max-content;">
        {{!-- <h4 class="card-header">
            Audio:
        </h4> --}}
        <div class="card-body row row-cols-2">
            <div id="playBtn">
                <img src="https://img.icons8.com/material-outlined/24/000000/play--v1.png" />
            </div>
            <div id="pauseBtn">
                <img src="https://img.icons8.com/material/24/000000/pause--v1.png" />
            </div>
        </div>
    </div>
</div>

<script src="/javascript/game.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"
    integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascript/game-music.js"></script>
<script src="/javascript/logout.js"></script>