<div class='align-center'>
    <img src='assets/graphics/scorepage.png' alt='score page header'>
</div>

<button id="playagain" class="btn">Play Again!</button>
<button id="logout" class="btn">Logout</button>

<div>
    <p>Here is where the scores will be listed!</p>
</div>

<script src="/javascript/scores.js"></script>