/* boiler plate styles */
:root {
    --primary: #F5E2C8;
    --secondary: hsl(48, 32%, 34%);
    --tertiary: #B0A084;
    --quartiary: #583E23;
    --textcolor: #13262F;
    --lightsecondary: hsl(50, 16%, 78%);
}

* {
    box-sizing: border-box;
}

/* Attempting to add a new font */

@font-face {
    font-family: Aniron;
    src: url('/assets/fonts/anirb___.ttf'); 
    font-weight: normal;
    /* font-style: normal; */
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    background-image: url('/assets/backgrounds/bg2.png');
    background-size: cover;
    background-position: fixed;
    font-family: garamond, serif;
    font-size: 16px;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--textcolor);
    background-image: url('/assets/pics/canal_at_night.jpg');
    background-size: cover;
    background-position: center;
    padding: 0 20px 20px 0;
    margin: 0;
    /* font-family: 'Aniron', serif; */
}

header h1 {
    font-family: Aniron, fantasy;
    color: var(--primary);
    font-weight: normal;
    font-size: 36px;
    text-shadow: 3px 5px 5px rgba(160, 140, 106, 0.5);
}

h2 {
    font-family: Aniron, fantasy;
    color: var(--textcolor);
    font-size: 23px;
}

.font {
    font-family: Aniron;
}

.btn {
    background-color: var(--primary);
    color: var(--textcolor);
    text-decoration: none;
    border: #13262F solid;
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
    font-size: 13px;
    opacity: 100%;
}

.btn:hover {
    opacity: 70%;
    transition-duration: 2s;
}

#character-form {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary);
    background-image: url('/assets/backgrounds/bg2.png');
    background-position: center;
    background-size: cover;
    color: var(--textcolor);
    font-size: 14px;
}

#char-type {
    text-decoration: none;
}

.login-card {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--quartiary);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: var(--tertiary);
}

.signup-card {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--quartiary);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: var(--tertiary);
}

.character-form-card {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--quartiary);
    margin: 5px;
    padding: 5px;
    background-color: var(--tertiary);
}